@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root {
    --light-font: #fff6f6;
    --darker-font: #161618;
    --dark-font: #212631;
    --light-gray: #93a3b1;
    --blue-gray: #151b2c;
    --dark-red: #c40303;
    --clr-green: rgb(37, 161, 37);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    color: var(--dark-font);
    margin-bottom: 10px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container .left {
    flex: 1;
    padding: 50px;
    display: grid;
    place-content: center;
    background-color: var(--dark-font);
}

.left .left-text {
    color: var(--light-font);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.left-text h1 {
    font-size: 3rem;
}

.left-text h2 {
    margin-block: 20px;
}

.left-text p {
    text-align: left;
    
}

.container .right {
    padding: 50px;
    background-color: var(--light-gray);
    display: grid;
    place-content: center;
}

.right .right-container {
    width: 600px;
    max-width: 100%;
    height: 750px;
    padding: 50px 90px;
    background-image: linear-gradient(rgba(222, 240, 239, 0.8),rgba(253, 253, 253, 0.6));
    border-radius: 5px;
}

.right-container form {
    color: var(--dark-font);
    display: inline-block;
}

.right-container label {
    margin-left: 10px;
    font-size: 1.2rem;
}

.right-container input {
    padding: 8px 15px;
    margin: 10px;
    color: var(--dark-font);
    font-size: 1.2rem;
    width: 400px;
    border: none;
    border-bottom: 1px solid var(--dark-font);
    background-color: transparent;
    outline: none;
}


input[type=number] {
    width: 100px;
    margin-bottom: 20px;
}

input::placeholder {
    color: var(--darker-font);
}

input:focus {
    box-shadow: 2px 1px var(--darker-font);
}

input::selection {
    background-color: var(--blue-gray);
    color: var(--light-font);
}

#pass-two-error,
#pass-one-error,
#fname-error,
#lname-error {
    margin-left: 10px;
}

button[type=submit] {
    display: block;
    margin: auto;
    background-color: var(--blue-gray);
    font-size: .9rem;
    color: var(--light-font);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-block: 20px;
}

button[type=submit]:hover {
    opacity: .9;
}

.right-container p {
    margin-bottom: 20px;
}

div.sign-in-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.button {
    padding: 9px 70px;
    font-size: .9rem;
    text-decoration: none;
    background-color: var(--blue-gray);
    color: var(--light-font);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

a.button:hover {
    opacity: .9;
}

.sn-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 300ms linear;
    opacity: 0;
    visibility: hidden;
}

.sn-overlay:target {
    visibility: visible;
    opacity: 1;
}

.sn-wrapper {
    margin: 70px auto;
    padding: 20px;
    background-image: linear-gradient(rgba(177, 214, 214, 0.9),rgb(223, 228, 227));;
    border-radius: 5px;
    width: 600px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sn-wrapper .close-btn {
    position: absolute;
    color: var(--darker-font);
    top: 5%;
    right: 5%;
    font-size: 1.5rem;
    text-decoration: none;
}

.sn-wrapper .close-btn:hover {
    color: var(--dark-red);
}

.sn-wrapper h1 {
    color: var(--dark-font);
}


.sn-wrapper input {
    padding: 8px 15px;
    margin: 10px;
    color: var(--dark-font);
    font-size: 1.2rem;
    width: 400px;
    border: none;
    border-bottom: 1px solid var(--dark-font);
    background-color: transparent;
    outline: none;
}


.sn-wrapper .f-btn {
    margin-top: 20px;
    text-decoration: none;
}

.sn-wrapper .f-btn:hover {
    color: var(--dark-red);
}

.sn-wrapper button {
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0;
    }
    .container .left {
        width: 100vw;
        height: 300px;
    }
    .left-text {
        margin-block: 100px;
        
    }
    .left-text p{
        text-align: center;
    }
    .container .right {
        width: 100vw;
        height: 100vh;
    }
    .right .right-container {
        overflow: scroll;
        height: 100%;
    }
}